.container {
  padding: 66px 100px 51px;
  display: flex;
  flex-direction: column;
  gap: 38px 0;

  button {
    font-size: 16.01px;
    font-weight: 600;
    line-height: 19.1px;
    text-align: left;
    padding: 13px 30px;
    border-radius: 30px;
    color: var(--main-blue-500);
    background-color: var(--yellow-400);
    border: 1px solid var(--yellow-400);

    &:nth-of-type(2) {
      background-color: transparent;
      border-color: var(--main-blue-500);
      margin-left: 20px;
    }
  }
}

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 47.5px;
  text-align: left;
  color: var(--main-blue-500);
  margin: 0px;
  max-width: 680px;
}

.content {
  padding: 36px 38px 46px 33px;
  background-color: var(--main-blue-500);
  border-radius: 30px;
}

.row {
  display: flex;

  & + & {
    margin-top: 17px;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: white;
    display: inline-block;

    & + span {
      margin-left: auto;
    }
  }
}
