:root {
  --light-blue-100: rgba(204, 204, 255, 1);
  --light-blue-200: rgba(153, 153, 255, 1);
  --light-blue-300: rgba(102, 102, 255, 1);
  --light-blue-400: rgba(51, 51, 255, 1);
  --light-blue-500: rgba(0, 0, 255, 1);
  --light-blue-600: rgba(0, 0, 204, 1);
  --light-blue-700: rgba(0, 0, 153, 1);
  --light-blue-800: rgba(0, 0, 102, 1);
  --light-blue-900: rgba(0, 0, 51, 1);

  --web-blue-100: rgba(204, 218, 241, 1);
  --web-blue-200: rgba(153, 181, 228, 1);
  --web-blue-300: rgba(102, 145, 214, 1);
  --web-blue-400: rgba(51, 108, 201, 1);
  --web-blue-500: rgba(0, 71, 187, 1);
  --web-blue-600: rgba(0, 57, 150, 1);
  --web-blue-700: rgba(0, 43, 112, 1);
  --web-blue-800: rgba(0, 28, 75, 1);
  --web-blue-900: rgba(0, 14, 37, 1);

  --main-blue-500: rgba(4, 45, 136, 1);

  --black-100: rgba(204, 204, 204, 1);
  --black-200: rgba(153, 153, 153, 1);
  --black-300: rgba(102, 102, 102, 1);
  --black-400: rgba(51, 51, 51, 1);
  --black-500: rgba(0, 0, 0, 1);

  --yellow-100: rgba(255, 248, 204, 1);
  --yellow-200: rgba(255, 241, 153, 1);
  --yellow-300: rgba(255, 235, 102, 1);
  --yellow-400: rgba(255, 228, 51, 1);
  --yellow-500: rgba(255, 221, 0, 1);
  --yellow-600: rgba(204, 177, 0, 1);
  --yellow-700: rgba(153, 133, 0, 1);
  --yellow-800: rgba(102, 88, 0, 1);
  --yellow-900: rgba(51, 44, 0, 1);
}
